# Airflow
apache-airflow~=2.10.0
Flask~=2.2.5
Flask-SQLAlchemy~=2.5.1
SQLAlchemy~=1.4.52

# Testing
pytest~=8.3.4
pytest-cov~=6.0.0
pytest-mock~=3.14.0
pyfakefs~=5.7.2
moto~=5.0.22
testfixtures~8.3.0
